<nav class="navbar navbar-expand-md navbar-dark bg-dark">  
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'all-charts' %}">All Charts<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'chart-form' %}">New Chart<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'category-form' %}">Category Form</a>
            </li>
         
         
          </ul>
      </div>
  

  </nav>